<div class="star-review">
  <div class="star-container">
    <div class="star" [style.width.px]="starrWidth">
      <i  class="zmdi zmdi-star"></i>
      <i  class="zmdi zmdi-star"></i>
      <i  class="zmdi zmdi-star"></i>
      <i  class="zmdi zmdi-star"></i>
      <i  class="zmdi zmdi-star"></i>
    </div>
    <div class="star-outline">
      <i  class="zmdi zmdi-star-outline"></i>
      <i  class="zmdi zmdi-star-outline"></i>
      <i  class="zmdi zmdi-star-outline"></i>
      <i  class="zmdi zmdi-star-outline"></i>
      <i  class="zmdi zmdi-star-outline"></i>
    </div>
  </div>

  <div *ngIf="!!this.reviews" class="reviewer-nbr">({{reviews.length}})</div>
</div>