.star-review {
  display: flex;
  .reviewer-nbr {
    text-align: center;
    padding: 3px 10px;
  }
  .star-container {
    position: relative;
    height: 30px;
    width: 100px;

    .star {
      position: absolute;
      top: 0;
      display: flex;
      overflow: hidden;
      font-size: 24px;
      color: goldenrod;
    }
    .star-outline {
      top: 0;
      position: absolute;
      display: flex;
      font-size: 24px;
      color: goldenrod;
    }
  }
}