<div class="card-container" [ngSwitch]="typeOfType">
  <h1>{{typeOfType}}</h1>
  <ng-container *ngSwitchCase="'home'">
    <ng-template *ngTemplateOutlet="card">
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'cart'">
    <ng-template *ngTemplateOutlet="card; context: {$implicit:'cart'}">
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'product-details'">
    <ng-template *ngTemplateOutlet="card; context: {$implicit:'product-details'}">
    </ng-template>
  </ng-container>
</div>



<ng-template #card let-typeCard>
  <div class="prd-image" [style.background-image]="'url(' +  product.images[0] + ')'">
    <div class="prommo" *ngIf="product.discount">
      {{product.discount}} % Off
    </div>
  </div>
  <div>
    <div class="title">{{product.brand}}, {{product.pname}}</div>

    <app-star-review *ngIf="typeCard!=='cart' || typeCard=='product-details'" [reviews]="product.reviews"></app-star-review>

    <div class="price" [ngClass]="{'discounted':product.discount}">
      <div class="new" *ngIf="product.discount">{{getDiscountedPrice()}} DHS</div>
      <label style="margin:0 .2rem">/</label>
      <div class="old"> {{product.price}} DHS</div>
    </div>

    <div *ngIf="typeCard!=='cart'" class="stock" [ngSwitch]="product.stock>0" [ngClass]="product.stock>0?'in':'out'">
      <ng-template [ngSwitchCase]="true">En Stock</ng-template>
      <ng-template [ngSwitchCase]="false">Epuisé</ng-template>
    </div>

    <div class="footer" *ngIf="typeCard!=='cart' && typeCard!=='product-details'">
      <button class="btn primary" [disabled]="product.stock<=0" (click)="addTocart()">Achetez</button>
      <button class="btn secondary details" (click)="moreDetails(product.id)">Plus de details</button>
    </div>

    <div *ngIf="typeCard=='cart' || typeCard=='product-details'" class="flex space-between">
      <button *ngIf="typeCard!='product-details'" class="btn secondary details" [disabled]="product.stock<=0" (click)="removeProduct(product.id)">Supprimer</button>
      <app-add-item  [cartItem]="cartItem" [product]="product" class="flex-end"></app-add-item>
    </div>
  </div>

  <app-product-extra-details *ngIf="typeCard!=='cart'" [product]="product"></app-product-extra-details>
</ng-template>